
.icon-camera:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-brush:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-vimeo:before { content: '\f30f'; } /* '' */