        @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|PT+Serif:400,400i');
        body {
            color: black;
            background-color: whitesmoke;
            font-family: 'PT Serif', serif;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        
        .part {
            width: 100%;
        }
        
        .limit {
            width: 80%;
            margin: 0 auto;
            box-sizing: border-box;
        }
        
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            background-color: white;
        }
        
        #mleft {
            font-style: italic;
            float: left;
            padding: 1em;
        }
        
        #mright {
            font-family: 'Oxygen', sans-serif;
            float: right;
        }
        
        #mright :last-child {
            border: none;
        }
        
        .button {
            float: left;
            padding: 0 4px;
            border-right: dotted 1px black;
            transition: all 0.3s;
            position: relative;
            padding: 1em;
            cursor: pointer;
        }
        
        .button:hover {
            transform: translateY(2px);
            color: darkolivegreen;
        }
        
        .stuff {
            background-color: rgba(0, 0, 0, 0.3);
            background-image: url(img/photo-1432821596592-e2c18b78144f.jpeg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
            height: 100vh;
            text-align: center;
        }
        
        .center-parent {
            position: relative;
        }
        
        .center-ver {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .center-hor {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .center-verhor {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        
        .stuff-h1 {
            color: white;
            letter-spacing: 2px;
            margin-bottom: 0;
            font-size: 35px;
        }
        
        .stuff-p {
            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-size: 21px;
        }
        
        .arrow {
            position: absolute;
            bottom: 0%;
            width: 8%;
            height: 20%;
            background-color: rgba(18, 98, 15, 0.4);
            background-blend-mode: multiply;
        }
        
        .arrow img {
            position: relative;
            width: 100%;
            filter: brightness(9);
        }
        
        .featured {
            padding: 40px 0 30px 0;
            text-align: center;
            width: 40%;
        }
        
        .featured h1 {
            position: relative;
            color: black;
            border-bottom: solid #666 0.5px;
            bottom: 13px;
            line-height: 70px;
        }
        
        .featured p {
            color: #333;
        }
        
        .imageblock .imgb {
            float: left;
            width: 25%;
            height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: rgba(255, 255, 255, 0.4);
            background-blend-mode: multiply;
        }
        
        #one {
            background-image: url("img/pexels-photo-122588.jpeg");
        }
        
        #two {
            background-image: url("img/pexels-photo-235621.jpeg");
        }
        
        #three {
            background-image: url("img/pexels-photo-52291.jpeg");
        }
        
        #four {
            background-image: url("img/pexels-photo-202982.jpeg");
        }
        
        #five {
            background-image: url("img/pexels-photo.jpeg");
            clear: left;
        }
        
        #six {
            background-image: url("img/pexels-photo-160155.jpeg");
        }
        
        #seven {
            background-image: url("img/pexels-photo(1).jpeg");
        }
        
        #eight {
            background-image: url("img/pexels-photo-261828.jpeg");
        }
        
        .withbutton {
            padding: 100px;
            clear: left;
            position: relative;
            background-color: white;
            text-align: center;
        }
        
        .buttonload {
            border: solid 1px darkolivegreen;
            border-radius: 60em;
            color: darkolivegreen;
            position: relative;
            bottom: 0%;
            font-size: 20px;
            font-style: italic;
            padding: 13px;
            cursor: pointer;
            background-color: white;
        }
        
        .buttonload:hover {
            background-color: darkolivegreen;
            color: wheat;
        }
        
        .fontellos {
            text-align: center;
            font-size: 50px;
            letter-spacing: 40px;
            padding-bottom: 60px;
        }
        
        .fontellos2 {
            text-align: center;
            font-size: 20px;
            letter-spacing: normal;
        }
        
        i {
            display: inline-block;
            cursor: pointer;
        }
        
        .agency {
            width: 100%;
            background-color: white;
        }