        @import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|PT+Serif:400,400i');
        body {
            color: black;
            background-color: whitesmoke;
            font-family: 'PT Serif', serif;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        
        .part{
            width:100%;
        }

        .limit{
            width:80%;
            margin: 0 auto;
            box-sizing: border-box;
        }

        .menu {
            position: fixed;
            top:0;left:0;
            z-index: 999;
            background-color: white;
        }


        #mleft {
            font-style: italic;
            float: left;
            padding: 1em;
        }
        
        #mright {
            font-family: 'Oxygen', sans-serif;
            float: right;
        }
        
        #mright :last-child {
            border: none;
        }
        
        .button {
            float: left;
            padding: 0 4px;
            border-right: dotted 1px black;
            transition: all 0.3s;
            position: relative;
            padding: 1em;
            cursor: pointer;
        }
        
        .button:hover {
            transform: translateY(2px);
            color: darkolivegreen;
        }
        
        .stuff {
            background-color: rgba(0, 0, 0, 0.3);
            background-image: url(img/photo-1432821596592-e2c18b78144f.jpeg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
            height: 100vh;           
            text-align: center;
        }
        
        .center-parent{
            position:relative;
        }
        .center-ver{
            position:absolute;
            top:50%;
            transform:translateY(-50%);
        }
        .center-hor{
            position:absolute;
            left:50%;
            transform:translateX(-50%);
        }
        .center-verhor{
            position:absolute;
            left:50%; top:50%;
            transform:translate(-50%,-50%);
        }

        .stuff-h1 {
            color: white;
            letter-spacing: 2px;
            margin-bottom: 0;
            font-size: 35px;
        }
        
        .stuff-p {
            font-family: 'Times New Roman', Times, serif;
            color: white;
            font-size: 21px;
        }